In [69]:
import pandas as pd
import folium
import numpy as np
from flask import Flask,render_template

In [73]:
df=pd.read_csv("covid-19-dataset-2.csv")

df.iloc[26]
#df.head()

Country_Region                       India
Last_Update            2020-07-20 19:35:14
Lat                                20.5937
Long_                              78.9629
Confirmed                      1.11821e+06
Deaths                               27497
Recovered                           700087
Active                              390622
Incident_Rate                      81.0292
People_Tested                          NaN
People_Hospitalized                    NaN
Mortality_Rate                     2.45903
UID                                    356
ISO3                                   IND
Name: 26, dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 12 columns):
FIPS              2347 non-null float64
Admin2            2360 non-null object
Province_State    2447 non-null object
Country_Region    2624 non-null object
Last_Update       2624 non-null object
Lat               2574 non-null float64
Long_             2574 non-null float64
Confirmed         2624 non-null int64
Deaths            2624 non-null int64
Recovered         2624 non-null int64
Active            2624 non-null int64
Combined_Key      2624 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 246.1+ KB

In [30]:
by_country=df.groupby("Country_Region").sum()[['Confirmed', 'Deaths', 'Recovered', 'Active']]
cdf=by_country.nlargest(15,"Confirmed")[["Confirmed"]]
cdf

                Confirmed
Country_Region
US                 275586
Italy              119827
Spain              119199
Germany             91159
China               82511
France              65202
Iran                53183
United Kingdom      38689
Turkey              20921
Switzerland         19606
Belgium             16770
Netherlands         15821
Canada              12437
Austria             11524
Korea, South        10062

In [31]:
data=df.dropna()
m=folium.Map(location=[34.223334,-82.461707],tiles="Stamen Toner",zoom_start=8)

def circle_maker(x):
    folium.Circle(location=[x[0],x[1]],radius=float(x[2])*10,color="red",popup="{}\nConfirmed Cases:{}".format(x[3],x[2])).add_to(m)

data[["Lat","Long_","Confirmed","Combined_Key"]].apply(lambda x:circle_maker(x),axis=1)

html_map=m

In [35]:
app=Flask(__name__)
@app.route("/")
def home():
    return render_template("home.html",table=cdf,cmap=html_map,pairs=pairs)

#if __name__=="__main__":
app.run()

UnsupportedOperation: not writable